<div class="artistsearch">
		<div class="card search">
		<h1>Artists</h1>
		<label>Search <span *ngIf="search"> for {{search}}</span></label>
		<input 
		#newArtist
		[(ngModel)] = "search"
		placeholder = "Michael Jackson"
		>
		
		</div>
</div>
<ul class="artistlist cf">
	<li class="artists cf" 
	#artistContainer 
	(click)="clicking(artistContainer, artist)" 
	*ngFor="#artist of artists">
	<img src="images/{{artist.shortname}}_tn.jpg" alt="{{artist.shortname}} Photo">
	<div class="info">
		<h2>{{artist.name}}</h2>
		<h3>{{artist.reknown}}</h3>
	</div>
		<artist-item class="content" [artist]=item ></artist-item>
	</li>
</ul>