<div class="artistsearch">
		<div class="card search">
		<h1>Artists</h1>
		<label>Search <span *ngIf="search"> for {{search}}</span></label>
		<input 
		[(ngModel)] = "search"
		placeholder = "Michael Jackson"
		>
		
		</div>
</div>
<ul 
	*ngIf="search" 
	class="artistlist cf">
	<li 
	class="artist cf" 
	(click)="showDetails(artist); search=''"
	*ngFor="#artist of (artists) | find:search">
	                    	
		<artist-item 
		class="content" 
		[artist]=artist ></artist-item>
	</li>
</ul>

<artist-details *ngIf="currentArtist && search==''" [artist]="currentArtist"></artist-details>